<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your complaint
    has been registered</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .btn-primary{
        width:inherit;
        font-size: 20px;
        border-radius: 8px;
        padding: 10px
    }
h1{
    font-size: 76pt;
}
    </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1 style="color: #2600cf;"><b>Logo</b></h1>
</div>
  
<div class="container">
  <div class="row">
    <!-- <div class="col-sm-1">
    </div> -->
    <div class="col-sm-12" style="text-align: center;">
      <h1><b>Your complaint<br/>
        has been registered</b></h1>
      <p style="font-size: 29pt;"><b>Complaint registered successfully</b></p>
    </div>
    <!-- <div class="col-sm-1">
    </div> -->
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
       <img src="images/Screen (1).png"></img>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        
        <p style="font-size: 29pt;"><b>Thank you for bringing the issue to
          our notice.</b></p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  
<div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <p style="font-size: 26pt;">Your complaint has been successfully
          registered with us. We will sooner
          resolve your issue. Please, let us know
          if you still had anything else to share.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  
 
  <br/>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <p style="font-size: 22pt;">Check the status of complaint through our app
          or website by tapping on the button below.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-align: center;">
       <button class="btn btn-primary"><b>Check status</b></button>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
<br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-align: center;">
      <p style="font-size: 29pt;"><b>Download our app</b></p>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm" style="text-align: center; width:505px;height: 81px;">
       <img src="images/download app (1).png" style="width:505px;height: 81px;"></img>
        </div>
        <div class="col-sm">
        </div>
      </div>
  </div>
</body>

</html>