<!DOCTYPE html>
<html lang="en">

<head>
  <title>Errrrr...</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .btn-primary {
      width: inherit;
      font-size: 20px;
      border-radius: 8px;
      padding: 10px
    }

    h1 {
      font-size: 76pt;
    }
  </style>
</head>

<body>

  <div class="jumbotron text-center" style="background-color: white;">
    <img src="https://dev.vbc.cloudtaru.com/mail/vbc_ico.png" style="margin-top:-6%;height: 78px;margin-left: -74%;">
  </div>

  <div class="container" style="margin-top: -7%;">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <p style="font-size: 20pt;"><b>Your plan got expired...!</b></p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <img src="https://dev.vbc.cloudtaru.com/mail/plan_expired.jpg" style="width: 299px;height: 216px;"></img>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <p style="font-size:17pt;">Dear subscriber {{full_name}},<br />
          {{alert_msg}}. <br />
          Kindly recharge your account({{username}}) and get connected with the best offers and plans for uninterrupted connection and true entertainment.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center;">
        <p style="font-size: 17pt;">Recharge through our app or website
          by tapping on the button below.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-align: center;">
        <!-- <a href="https://user.vbctv.in/"> -->
        <a href="https://userportal.vbctv.in/login">
          <button class="btn btn-primary"><b> Recharge now </b></button>
        </a>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-align: center;">
        <p style="font-size: 17pt;"><b>Download our app</b></p>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <p style="text-align: center;"><i>
        Stay safe and stay connected !<br />

      </i>
    </p>
    <p style="text-align: center;">
      <i>

        Warm Regards,<br />
        VBC on Fiber
      </i>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm" style="text-align: center; width:505px;height: 81px;">
        <!-- <a href="https://play.google.com/store"> -->
          <a href="https://play.google.com/store/apps/details?id=sparkradiuscustomer.in">
          <img src="https://dev.vbc.cloudtaru.com/mail/download_app.jpg" style="width:505px;height: 81px;"></img>
        </a>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</body>

</html>